body {
 margin: 0;
 background-color: #3e3e3e;
 font-family: sans-serif;
 color: #ddd;
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}

body>.container {
 flex: 1;
}

nav ul {
 display: flex;
 width: 30rem;
 margin: 0;
 padding-left: 0;
}

nav ul li {
 flex: 1;
 background-color: #303030;
 margin: 1px;
}

nav ul li a {
 display: block;
 text-align: center;
 padding: .5rem;
 color: #eee;
}

nav ul li a:hover {
 background-color: #606060;
 color: #ff0;
}

h1 {
 margin-top: 0;
 border-top: 2px solid #9d9d9d;
 padding: 1rem 2rem;
 background-color: #333;
 color: #eee;
}

h2,
h3 {
 margin: 1rem;
}

p {
 padding: 1rem;
}

a {
 color: #f0f000;
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
 color: #ff0;
}

ul {
 list-style-type: none;
}

ul li {
 margin: .5rem 0;
}

footer {
 background-color: #333;
 margin: 0;
}

footer ul {
 display: flex;
 flex-direction: column;
 padding: .5rem;
}

footer ul li {
 flex: 1;
 display: flex;
 background-color: #4e4e4e;
 border-radius: 3px;
 margin: .5rem;
}

footer ul li span {
 flex-basis: 4rem;
 padding: 1rem;

}

footer ul li a {
 flex: 1;
 text-align: center;
 padding: 1rem;
}

footer ul li a:hover {
 background-color: #6e6e6e;
 text-decoration: none;
}

@media (min-width: 800px) {
 footer {
  max-height: 6rem;
 }

 footer ul {
  flex-direction: row;
 }

 footer ul li {
  margin: 0 1rem;
 }
}