<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ page.title }}</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta property="og:description" content="Tadeusz Dudkowski, Github - projekty JavaScript, webdeveloping">
	<meta property="og:image" content="https://tdudkowski.github.io/img/html5-js-css3-logo-small.png">
	<meta property="og:url" content="https://tdudkowski.github.io/">
	<!-- link to main stylesheet -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	 crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<nav>
		<ul>
			<li><a href="https://github.com/tdudkowski/"><i class="fab fa-github"></i></a></li>
			<li><a href="https://codepen.io/tdudkowski/"><i class="fab fa-codepen"></i></a></li>
			<li><a href="mailto:tdudkowski@gmail.com"><i class="fas fa-at"></i></a></li>
		</ul>
	</nav>
	<div class="container">

		{{ content }}

	</div><!-- /.container -->
	<footer>
		<ul>
			<li><span>Github: </span><a href="https://github.com/tdudkowski/">github.com/tdudkowski</a></li>
			<li><span>Codepen: </span><a href="https://codepen.io/tdudkowski/">codepen.io/tdudkowski</a></li>
			<li><span>Email: </span><a href="mailto:tdudkowski@gmail.com">tdudkowski</a></li>
		</ul>
	</footer>
</body>

</html>